<h1>Selected User</h1>
<img class="img" src="<%= @user.photo %>" alt="profile_pic">
<%= @user.name%>
<%= @user.posts_counter%>
<%= @user.bio%>
<% @user.posts.each do |d|%>
<p><%= link_to d.title, user_post_path(@user,d)%></p>
    <p> <%= d.text %></p>
<%end%>
  <div>
    <%= link_to "Add New Post", "/users/#{@user.id}/posts/new" %>
  </div>
<%= link_to "See all posts", user_posts_path(@user)%>