<div>
  <h1>Create a Post</h1>
  <%= form_with model: @post ,url: user_posts_path do |f| %>
    <%= f.label :title, "Title" %>
    <%= f.text_field :title, placeholder: "Title", required: true%>
    <%= f.text_area :text, placeholder: "Write here..", rows: 14, required: true %>
    <%= f.submit "Post" %>
  <% end %>
</div>